body {
    font-family: Arial, sans-serif;
    background-color: #02fff2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.weather-app {
    background-color: #ffffff80;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.weather-app h1 {
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#city {
    padding: 10px;
    font-size: 16px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-btn {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}

#search-btn:hover {
    background-color: #0056b3;
}

.weather-result {
    font-size: 18px;
    margin-top: 20px;
}

.weather-result p {
    margin: 10px 0;
}
